In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('songdata.csv')

In [6]:
df.head(10)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,/a/abba/burning+my+bridges_20003011.html,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,/a/abba/cassandra_20002811.html,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,/a/abba/chiquitita_20002978.html,"Chiquitita, tell me what's wrong \nYou're enc..."
8,ABBA,Crazy World,/a/abba/crazy+world_20003013.html,I was out with the morning sun \nCouldn't sle...
9,ABBA,Crying Over You,/a/abba/crying+over+you_20177611.html,I'm waitin' for you baby \nI'm sitting all al...

In [7]:
df.shape

(57650, 4)

In [8]:
df=df.sample(n=5000).drop('link',axis=1).reset_index(drop=True)

In [9]:
df

,artist,song,text
0,Snoop Dogg,Deez Hollywood Nights,[Chorus: x2] \nThose Hollywood nights \nThey...
1,Nicki Minaj,Finale,[Nicki Minaj] \n \nI'm in that cotton pink b...
2,Ne-Yo,Same,(Verse) \nShe be playin me music \nThat I do...
3,Unearth,Convictions,Convictions. \nLost direction. \nOnce a fiel...
4,Nitty Gritty Dirt Band,Leigh Anne,Leigh Anne \nLeigh Anne \nI don't want to ne...
...,...,...,...
4995,Poison,Blame It On You,She's got pizazz \nLike a razzmatazz \nI'd l...
4996,Eminem,Above The Law,"[Intro:] \nThe poor stay poor, the rich get r..."
4997,Ziggy Marley,Head Top,"The session is nice, feel real good \nThe set..."
4998,The Beatles,Another Girl,"For I have got another girl, another girl \nY..."
4999,NOFX,Punk Guy,"Crazier than GG, yet more PC than Ian \nGot c..."

# Data Cleaning

In [10]:
df['song'][0]

'Deez Hollywood Nights'

In [11]:
df['text'][0]

'[Chorus: x2]  \nThose Hollywood nights  \nThey drive me crazy  \nThose Hollywood nights  \nThey drive me crazy  \n  \n[Snoop Dogg]  \nHuh, it\'s like that that there  \nThey love it when I let down my hair  \nFrom Jessica Alba to Jessica Simpson  \nEven Jessica Biel wanna know how I feel  \nSo I let \'em all come to my back table  \nRoll up and lick the paper if they able  \nBottles of everything, models and everything  \nEverything goes and yes I mean everything  \nCocaine castles, I ain\'t sniffin\'  \nBut baby that plate in that one movie is trippin\'  \nSo, I invite her over to my party  \nBlonde hair, long legs, a real live Barbie  \nNo autographs, I ain\'t signin\' now  \nAct like you been around a boss, bitch settle down  \nMy life is like one big highlight  \nWelcome to the motherfuckin\' Hollywood night life  \n  \n[Chorus: x2]  \n  \n[Snoop Dogg]  \nEvery night I\'m in the limo, Excursion  \nWith some whites, some asians and persians  \nThey flirtin\', and I\'m certain they suckin\'  \nOne night with the Dogg and it\'s curtains  \nShe say she wanna be an actress  \nSo I pointed to these nuts and then I yelled action!  \nTake one, take two, now cut  \nNow turn around, and let the homie Damani fuck  \nHuh, yeah, here we go again  \nI gotta go behind the club just to get in  \nThey say I\'m just too much commotion  \nAll the yellin\' and screamin\' and pushin\', oh yes I got \'em open  \nI\'m in the back of the club gettin\' a backrub  \nSmokin\' with one of the Marley\'s, "One Love"  \nI\'m higher than gas, refusin\' to pass  \nHollywood Night School my nigga join my class, c\'mon  \n  \n[Chorus: x2]  \n  \n[Snoop Dogg]  \nMeet me at the Roosevelt, bass cabana room  \nI\'m on Sunset (where you at?) at The House of Blues  \nI just stepped in for a quick cameo  \nMe and Leonardo DiCaprio  \nHe keep a bad hoe, I keep a bad hoe  \nHe slide me new hoes everywhere we go  \nOh the life, night after night, flight after flight  \nYes, these Hollywood nights  \nWill have a nigga burnt out, some hoes turned out  \nYou know it\'s pimpin\' when you see the Dogg permed out  \nCameras flashin\', police passin\'  \nEvery little model wanna give me some action  \nSo I let \'em kick it, then I let \'em lick it  \nGet some menage, durin\' every visit  \nI wouldn\'t leave it, even if they paid me  \nThe L.B. raised me and Hollywood is crazy  \n  \n[Chorus: x2]\n\n'

In [12]:
df['text'].str.lower()

0       [chorus: x2]  \nthose hollywood nights  \nthey...
1       [nicki minaj]  \n  \ni'm in that cotton pink b...
2       (verse)  \nshe be playin me music  \nthat i do...
3       convictions.  \nlost direction.  \nonce a fiel...
4       leigh anne  \nleigh anne  \ni don't want to ne...
                              ...
4995    she's got pizazz  \nlike a razzmatazz  \ni'd l...
4996    [intro:]  \nthe poor stay poor, the rich get r...
4997    the session is nice, feel real good  \nthe set...
4998    for i have got another girl, another girl  \ny...
4999    crazier than gg, yet more pc than ian  \ngot c...
Name: text, Length: 5000, dtype: object

In [13]:
df['text'] = df['text'].str.lower().replace(r'[^\w\s]','').replace(r'\n',' ', regex=True)
df['text']

0       [chorus: x2]   those hollywood nights   they d...
1       [nicki minaj]      i'm in that cotton pink ben...
2       (verse)   she be playin me music   that i don'...
3       convictions.   lost direction.   once a fielde...
4       leigh anne   leigh anne   i don't want to need...
                              ...
4995    she's got pizazz   like a razzmatazz   i'd lik...
4996    [intro:]   the poor stay poor, the rich get ri...
4997    the session is nice, feel real good   the set ...
4998    for i have got another girl, another girl   yo...
4999    crazier than gg, yet more pc than ian   got co...
Name: text, Length: 5000, dtype: object

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer=PorterStemmer()

def tokenization(txt):
    tokens=nltk.word_tokenize(txt)
    stemming=[stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [15]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [18]:
similarity[0]

array([1.        , 0.04121678, 0.10283383, ..., 0.02669667, 0.02349161,
       0.0426098 ])

In [27]:
df['song'][1]

'Finale'

In [25]:
df[df['song']=='Deez Hollywood Nights']

,artist,song,text
0,Snoop Dogg,Deez Hollywood Nights,[ choru : x2 ] those hollywood night they driv...

# Recommendation System

In [20]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [28]:
recommendation('Finale')

["Don't Make 'Em Like You",
 'Never Will Give Up',
 'Deal With The Ladies',
 "Could 'Ja",
 'Santa Baby',
 'Cinderella',
 "All You've Got Is Money",
 'White Lie',
 'S.I.N.',
 'Hard Lemonade',
 'Pour It Up',
 "If You Can't Beat Them",
 'Walk In New York',
 'The Horny Song',
 'Can I Have It Like That',
 'Do It To Ya',
 'Little White Lies',
 "Havin' A Ball",
 'Hand Springs',
 'High Flyer']

In [29]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))